<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
			<ion-img class="menu-profile-pic" [src]="user.profile_picture_url"></ion-img>
          <ion-list-header>{{ user.short_name }}</ion-list-header>
          <ion-note (click)="sendMail(user.email)"><a href="mailto:{{user.email}}">{{ user.email }}</a></ion-note>
		  

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

		<span *ngIf="user.hobbies.length > 0">
			<ion-list id="labels-list">
			  <ion-list-header>Hobbies</ion-list-header>
	
			  <ion-item *ngFor="let hobby of user?.hobbies" lines="none">
				<ion-icon slot="start" ios="bookmark-outline" md="heart-sharp" color="danger"></ion-icon>
				<ion-label>{{ hobby }}</ion-label>
			  </ion-item>
			</ion-list>
		</span>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
